<template>
    <div class="container">
        <sidebar></sidebar>
        <topbar :changeLayout="changeLayout"></topbar>
        <div class="row content-wrap">
            <main id="content" class="content" role="main">
            <ol class="breadcrumb">
                <li>YOU ARE HERE</li>
                <li class="active">Form Elements</li>
            </ol>
            <router-view></router-view>       
            </main>
        </div>
    </div>
</template>
<script>

    import sidebar from '../components/sidebar';
    import topbar from '../components/topbar';

    export default {
        components: {
            sidebar, topbar
        },
        methods: {
            changeLayout(layout){
               this.$parent.changeLayout(layout);
            }
        }
    }
</script>