<template>
    <div class="container">
        <main id="content" class="widget-login-container" role="main">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                    <h4 class="widget-login-logo animated fadeInUp">
                        <i class="fa fa-circle text-gray"></i>
                        sing
                        <i class="fa fa-circle text-warning"></i>
                    </h4>
                    <section class="widget widget-login animated fadeInUp">
                        <header>
                            <h3>Login to your Sing App</h3>
                        </header>
                        <div class="widget-body">
                            <p class="widget-login-info">
                                Use Facebook, Twitter or your email to sign in.
                            </p>
                            <p class="widget-login-info">
                                Don't have an account? Sign up now!
                            </p>
                            <form class="login-form mt-lg">
                                <div class="form-group">
                                    <input :disabled="loading" v-model="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input :disabled="loading" v-model="password" class="form-control" id="pswd" type="password" placeholder="Password">
                                </div>
                                <div class="clearfix">
                                    <div class="btn-toolbar pull-right">
                                        <button :disabled="loading" class="btn btn-inverse btn-sm" @click="login()">Login</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="clearfix">
                                            <div class="checkbox widget-login-info pull-right ml-n-lg">
                                                <input type="checkbox" id="checkbox1" value="1">
                                                <label for="checkbox1">Keep me signed in </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-sm-pull-6">
                                        <a class="mr-n-lg" href="#">Trouble with account?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            2014 &copy; Sing. Admin Dashboard Template.
        </footer>
    </div>

</template>
<script>

    import api from '../services/api';
    import localstorage from 'localstorage';
    import toastr from 'toastr';

    export default {
        props: ['changeLayout'],
        data(){
            return {
                email: "",
                password: "",
                loading: false
            }
        },
        methods: {
            switchLayout(layout){
                console.log(layout);
                this.$parent.changeLayout(layout);
            },
            login(){
                this.loading = true;

                api.signin({ email: this.email, password: this.password}).then(res => {
                    console.log(res.data);
                    localstorage.setItem('token', res.data.token);
                    this.loading = false;
                    this.switchLayout('dashboard');
                }).catch(err => {
                    this.loading = false;
                    toastr.error(err.response.data, 'Oops!')
                })
            }        
        }
    }
</script>