<template>
    <nav id="sidebar" class="sidebar" role="navigation">
        <!-- need this .js class to initiate slimscroll -->
        <div class="js-sidebar-content">
            <header class="logo hidden-xs">
                <a href="index.html">sing</a>
            </header>
            <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
                looks good, so adding it and enhancing with notifications -->
            <div class="sidebar-status visible-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="thumb-sm avatar pull-right">
                        <img class="img-circle" src="demo/img/people/a5.jpg" alt="...">
                    </span>
                    <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
                        should be used with bg-* and text-* classes for colors -->
                    <span class="circle bg-warning fw-bold text-gray-dark">
                        13
                    </span>
                    &nbsp;
                    Philip <strong>Smith</strong>
                    <b class="caret"></b>
                </a>
                <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
            </div>
            <!-- main notification links are placed inside of .sidebar-nav -->
            <ul class="sidebar-nav">
                <li @click="changePage('dashboard')" v-bind:class="{ active: (activePage == 'dashboard') }">
                    <router-link to="/">Dashboard</router-link>
                </li>
                <li @click="changePage('jobs')" v-bind:class="{ active: (activePage == 'jobs') }">
                    <router-link  to="/jobs">Jobs</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>
<script>

    import localstorage from 'localstorage';

    export default {
        data(){
            return {
                activePage: ''
            }
        },
        methods: {
            changePage(page){
                this.activePage = page;
            },
            evaluatePage(path){
                let page = path.split('/');
                switch(page[1]) {
                    case 'dasboard':
                        this.activePage = 'dashbaord';
                        break;
                    case 'jobs':
                        this.activePage = 'jobs';
                        break;
                    default:
                        break;
                }
            }
        },
        created(){
            this.evaluatePage(this.$route.path);
        }
    }
</script>