<template>
    <!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
    <nav class="page-controls navbar navbar-default">
        <div class="container-fluid">
            <!-- .navbar-header contains links seen on xs & sm screens -->
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                        <a class="hidden-sm hidden-xs" id="nav-state-toggle" href="#" title="Turn on/off sidebar collapsing" data-placement="bottom">
                            <i class="fa fa-bars fa-lg"></i>
                        </a>
                        <!-- shown on xs & sm screen. collapses and expands navigation -->
                        <a class="visible-sm visible-xs" id="nav-collapse-toggle" href="#" title="Show/hide sidebar" data-placement="bottom">
                            <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
                            <i class="fa fa-bars fa-lg hidden-xs"></i>
                        </a>
                    </li>
                    <li class="ml-sm mr-n-xs hidden-xs"><a href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
                    <li class="ml-n-xs hidden-xs"><a href="#"><i class="fa fa-times fa-lg"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right visible-xs">
                    <li>
                        <!-- toggles chat -->
                        <a href="#" data-toggle="chat-sidebar">
                            <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
                        </a>
                    </li>
                </ul>
                <!-- xs & sm screen logo -->
                <a class="navbar-brand visible-xs" href="index.html">
                    <i class="fa fa-circle text-gray mr-n-sm"></i>
                    <i class="fa fa-circle text-warning"></i>
                    &nbsp;
                    sing
                    &nbsp;
                    <i class="fa fa-circle text-warning mr-n-sm"></i>
                    <i class="fa fa-circle text-gray"></i>
                </a>
            </div>

            <!-- this part is hidden for xs screens -->
            <div class="collapse navbar-collapse" style="width: 95%;">
                <ul class="nav navbar-nav navbar-right" >
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog fa-lg"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Inbox &nbsp;&nbsp;<span class="badge bg-danger animated bounceIn">9</span></a></li>
                            <li class="divider"></li>
                            <li><a @click="changeLayout('login')"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    export default {
        methods: {
            changeLayout(layout){
               this.$parent.changeLayout(layout);
            }
        }
    }
</script>