<template>
    <div>
    <login v-if="isLogin" :changeLayout="changeLayout"></login>
    <dashboard v-if="!isLogin" :changeLayout="changeLayout"></dashboard>
    </div>
</template>
<script>

    import Login from './containers/login';
    import Dashboard from './containers/dashboard';
    import localStorage from 'localStorage';

    export default {
        data(){
            return {
                isLogin: true
            }
        },
        components: {
            login: Login,
            dashboard: Dashboard
        },
        methods: {
            changeLayout(layout){
                console.log('lala',layout);
                if(layout === 'login'){
                    this.isLogin = true;
                    window.isLogin = true;
                    localStorage.removeItem('token')
                } else {
                    this.isLogin = false;
                    window.isLogin = false;
                }
                console.log('lala', this.isLogin);
            }       
        },
        created(){
            if(!localStorage.getItem('token')){
                this.changeLayout('login');
            } else {
                this.changeLayout('dashboard');    
            }
        }
    }
</script>