<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <router-link class="btn btn-primary pull-right" to="newdiscounts">
                                    <i class="fa fa-plus"></i>
                                    New Discounts
                                </router-link>
                            </div>
                        </div>
                        <br />
                        <div class="row"></div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Percentage</th>
                                <th>Job</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="j in discounts">
                                <td>{{ j.code }}</td>
                                <td>{{ j.percentage }} %</td>
                                <td>{{ j.job.name }}</td>
                                <td>{{ j.start }}</td>
                                <td>{{ j.end }}</td>
                                <td>
                                    <router-link class="btn btn-xs btn-primary" :to="{ path: 'discounts/'+j.id }"><i class="fa fa-pencil"></i> edit</router-link>
                                    <a @click="requestDelete(j)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>

        <div class="modal fade in" :id="deleteModalId" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title text-align-center fw-bold mt">Delete Job</h4>
                    </div>
                    <div class="modal-body bg-gray-lighter">
                        <p>Are you sure want to delete discount <strong>{{ deleteTarget.code }}</strong> potongan <strong> {{ deleteTarget.percentage }} %</strong> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button @click="deleteDiscount()" :disabled="sending" type="button" class="btn btn-danger">
                            {{ sending? 'Deleting...' : 'Delete' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../services/api';
    import notificationService from '../../services/notificationService';
    import uuidv1 from 'uuid/v1';
    import $ from 'jquery';

    export default {
        name: "discounts",
        data(){
            return {
                discounts: [],
                deleteTarget: {},
                sending: false
            }
        },
        computed: {
            deleteModalId(){
                return "delete-modal-"+uuidv1();
            }
        },
        methods: {
            fetchDiscounts(){
                api.fetchDiscounts().then(res => {
                    this.discounts = res.data;
                }).catch(err => {
                    notificationService.notifyError(err);
                })
            },
            requestDelete(obj){
                this.deleteTarget = obj;
                $('#'+this.deleteModalId).modal('show');
            },
            deleteDiscount(){
                this.sending = true;

                api.deleteDiscount(this.deleteTarget.id).then(res => {
                    this.sending = false;

                    notificationService.notifySuccess('Discount deleted');
                    $('#'+this.deleteModalId).modal('hide');
                    this.fetchDiscounts();
                }).catch(err => {
                    this.sending = false;

                    notificationService.notifyError(err);
                    $('#'+this.deleteModalId).modal('hide');
                })
            }
        },
        created(){
            this.fetchDiscounts();
        }
    }
</script>

<style scoped>

</style>