<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <button @click="back" class="btn btn-sm btn-default pull-right">
                                    <i class="fa fa-arrow-left"></i>
                                    Back
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-10">
                                    <div class="form-horizontal">
                                        <legend><strong>New</strong> Discounts</legend>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Code</label>
                                            <div class="col-sm-10">
                                                <input :disabled="autogen" v-validate="'required'" v-model="code" name="code" type="text" class="form-control" :class="{'parsley-error': errors.has('code') }">
                                                <span v-show="errors.has('code')" class="error-message">{{ errors.first('code') }}</span>
                                                <input type="checkbox" v-model="autogen"/> Auto generate code
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Percentage</label>
                                            <div class="col-sm-10">
                                                <input v-validate="'required'" :class="{'parsley-error': errors.has('percentage') }" name="percentage" v-model="percentage" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Start Date</label>
                                            <div class="col-sm-10">
                                                <input v-validate="'required'" :class="{'parsley-error': errors.has('start') }" name="start" v-model="start" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">End Date</label>
                                            <div class="col-sm-10">
                                                <input v-validate="'required'" :class="{'parsley-error': errors.has('end') }" name="end" v-model="end" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Jobs</label>
                                            <div class="col-sm-10">
                                                <select v-validate="'required'" :class="{'parsley-error': errors.has('job_id') }" name="job_id" class="form-control" v-model="job_id">
                                                    <option v-for="c in jobs" :value="c.id">{{ c.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button :disabled="sending" @click="save" class="pull-right btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../services/api';
    import notificationService from '../../services/notificationService';
    import moment from 'moment';

    export default {
        name: "newdiscounts",
        data(){
            return {
                jobs: [],
                code: "",
                autogen: false,
                job_id: 0,
                start: moment().format('L'),
                end: moment().format('L'),
                percentage: 0,
                sending: false
            }
        },
        methods: {
            fetchJobs(){
                api.fetchJobs().then(res => {
                    this.jobs = res.data;
                }).catch(err => {
                    notificationService.notifyError(err);
                })
            },
            save(){
                let data = {
                    code: this.code,
                    autogen: this.autogen,
                    job_id: this.job_id,
                    start: this.start,
                    end: this.end,
                    percentage: this.percentage,
                };

                this.$validator.validateAll().then((result) => {
                    if(result){
                        this.sending = true;

                        api.createDiscount(data).then(res => {
                            this.sending = false;

                            notificationService.notifySuccess('Diskon berhasil di buat', 'Diskon');
                            this.back();
                        }).catch(err => {
                            this.sending = false;

                            notificationService.notifyError(err);
                        });
                    }
                });
            },
            back(){
                this.$router.go(-1);
            }
        },
        created(){
            this.fetchJobs();
        }
    }
</script>

<style scoped>

</style>