@import "font";

@import "variables";
@import "toastr";
@import "mixins";

@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";
@import "../vendor/animate.css/animate";
@import "../vendor/bootstrap-select/dist/css/bootstrap-select";
@import "../vendor/select2/select2"; //import as css to keep image urls correct
@import "../vendor/select2-bootstrap-css/lib/select2-bootstrap";
@import "../vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "../vendor/pace.js/themes/pace-theme-minimal";

@import "bootstrap-override";
//@import "libs-override";

//custom libs. can be removed
//

// @import "../vendor/rickshaw/rickshaw";
// @import "../vendor/bootstrap3-wysihtml5/src/bootstrap-wysihtml5";
// @import "../vendor/switchery/dist/switchery";
@import "../vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker";
// @import "../vendor/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker";
// @import "../vendor/jasny-bootstrap/scss/jasny-bootstrap";
// @import "../vendor/dropzone/dist/dropzone";
// @import "../vendor/nvd3/build/nv.d3";
// @import "../vendor/morris.js/morris";
// @import "../vendor/jvectormap/jquery-jvectormap-2.0.3";
// @import "../vendor/bootstrap-application-wizard/src/bootstrap-wizard";
// @import "../vendor/backgrid/lib/backgrid";
@import "../vendor/datatables/media/css/jquery.dataTables";
@import "../vendor/messenger/build/css/messenger";
// @import "../vendor/messenger/build/css/messenger-spinner";
// @import "../vendor/fullcalendar/fullcalendar";
// @import "../vendor/magnific-popup/src/css/main";
// @import "../vendor/MetroJS/release/MetroJs.Full/MetroJs";
// @import "../vendor/bootstrap-markdown/css/bootstrap-markdown.min";


@import "custom-libs-override";

//
//end custom libs

//everything below this line is required for essential styling

@import "general";
@import "global-transitions";
@import "base";

@import "widgets";
@import "utils";
@import "print";

.navbar-default {
    width: 90% !important;
}

.content-wrap {
    position: static !important;
}

.error-message {
    color: #dd5826;
    font-size: 11px;
}