<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <router-link class="btn btn-primary pull-right" to="newjobs">
                                    <i class="fa fa-plus"></i>
                                    New Job
                                </router-link>
                            </div>
                        </div>
                        <br />
                        <div class="row"></div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="j in jobs">
                                    <td>{{ j.name }}</td>
                                    <td v-price>{{ j.price }}</td>
                                    <td>
                                        <router-link class="btn btn-xs btn-primary" :to="{ path: 'jobs/'+j.id }"><i class="fa fa-pencil"></i> edit</router-link>
                                        <a @click="requestDelete(j)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>

        <div class="modal fade in" :id="deleteModalId" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title text-align-center fw-bold mt">Delete Job</h4>
                    </div>
                    <div class="modal-body bg-gray-lighter">
                        <p>Are you sure want to delete job <strong>{{ deleteTarget.name }}</strong> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button @click="deleteJob()" :disabled="sending" type="button" class="btn btn-danger">
                            {{ sending? 'Deleting...' : 'Delete' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    import api from '../../services/api';
    import notificationService from '../../services/notificationService';
    import uuidv1 from 'uuid/v1';
    import $ from 'jquery';

    export default {
        data(){
            return {
                jobs: [],
                deleteTarget: {},
                sending: false
            }
        },
        computed: {
            deleteModalId(){
                return "delete-modal-"+uuidv1();
            }
        },
        methods: {
            fetchJobs(){
                let self = this;
                api.fetchJobs().then(res => {
                    console.log(res.data)
                    self.jobs = res.data;
                    console.log('fetch');
                }).catch(err => {
                    console.log(err);
                    notificationService.notifyError(err, 'Jobs');
                });
            },
            requestDelete(deleteTarget){
                this.deleteTarget = deleteTarget;
                $('#'+this.deleteModalId).modal('show');
            },
            deleteJob(){
                this.sending = true;

                api.deleteJob(this.deleteTarget.id).then(res => {
                    this.sending = false;

                    notificationService.notifySuccess('Job deleted');
                    $('#'+this.deleteModalId).modal('hide');
                    this.fetchJobs();
                }).catch(err => {
                    this.sending = false;

                    notificationService.notifyError(err);
                    $('#'+this.deleteModalId).modal('hide');
                })
            }
        },
        created(){
            this.fetchJobs();
        }
    }
</script>