<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <button @click="back" class="btn btn-sm btn-default pull-right">
                                    <i class="fa fa-arrow-left"></i>
                                    Back
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-10">
                                    <div class="form-horizontal">
                                    <legend><strong>New</strong> Job</legend>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <input v-validate="'required'" v-model="name" name="name" type="text" class="form-control" :class="{'parsley-error': errors.has('name') }">
                                                <span v-show="errors.has('name')" class="error-message">{{ errors.first('name') }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Category</label>
                                            <div class="col-sm-10">
                                                <select v-validate="'required'" :class="{'parsley-error': errors.has('category') }" name="category" class="form-control" v-for="c in categories" v-model="job_groups_id">
                                                    <option :value="c.id">{{ c.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Price</label>
                                            <div class="col-sm-10">
                                                <input v-validate="'required'" :class="{'parsley-error': errors.has('price') }" name="price" v-model="price" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button :disabled="sending" @click="save" class="pull-right btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../services/api';
    import notificationService from '../../services/notificationService';

    export default {
        name: "newjobs",
        data() {
           return {
               categories: [],
               name: "",
               job_groups_id: 0,
               price: 0,
               sending: false
           }
        },
        methods: {
            back(){
                this.$router.go(-1);
            },
            fetchCategories(){
                api.fetchCategories().then(res => {
                    this.categories = res.data;
                    this.job_groups_id = res.data[0].id;
                }).catch(err => {
                    notificationService.notifyError(err);
                });
            },
            save(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.sending = true;

                        api.createJob({
                            name: this.name,
                            job_groups_id: this.job_groups_id,
                            price: this.price
                        }).then(res => {
                            this.sending = false;
                            notificationService.notifySuccess('Job succesfully created.', 'Jobs');
                        }).catch(err => {
                            this.sending = false;
                            notificationService.notifyError(err, 'Jobs');
                        });
                    }
                });
            }
        },
        created(){
            this.fetchCategories();
        }
    }
</script>